body {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    
    /* dark mode */
    background-color: #171717;
}

/* universal text rules */
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: spectral;
    color: #e5e5e5;
}

.quote {
    text-align: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e5e5;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #04f11f;
    
}

p, p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e5e5;
    font-size: 28px;
    margin: 5%;
}

/* main page classes & styles */
#site-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section-header {
    display: flex;
    width: 100%;
    height: 100vw;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 810px) {
    .section-header {
        height: 50vh;
    }
}

.big-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 810px) {
    .big-section {
        flex-direction: row;
        height: 100vh;
    }
}

.half-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.half-section img {
    width: 100%;
    margin: 1%;
    padding: 0;
}

@media screen and (min-width: 810px) {
    .half-section {
        width: 50%;
        height: 100%;
    }
}

.highlight {
	max-width: 100%;
	overflow-x: scroll;
}

@media screen and (min-width: 810px) {
	.highlight {
		overflow-x: visible;
	}
}